<ion-view title="Data Management" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
    
        
    <a ui-sref="tabsController.formation" id="result-button2" class=" button button-positive  button-block short" ng-click="deleteData()">Delete Game Data</a>
        
    <div class="spacer" style="width: 300px; height: 36px;"></div>
        
    <a ui-sref="tabsController.formation" id="result-button3" class=" button button-positive  button-block short" ng-click="shareData()">Share Game Data</a>
        
        
    </ion-content>
</ion-view>