<ion-view title="Formation" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="">
            <a style="display:block;" ui-sref="tabsController.result" ng-click="setFormation('red')">
                <img src="img/UAQrvKZ3RSiS4KWve4wf_red.png" width="100" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </a>
        </div>
        <div class="spacer" style="width: 300px; height: 34px;"></div>
        <div class="">
            <a style="display:block;" ui-sref="tabsController.result" ng-click="setFormation('blue')">
                <img src="img/frKn3IpVTqajCrHPaWlR_blue.png" width="100" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </a>
        </div>
        <div class="spacer" style="width: 300px; height: 34px;"></div>
        <div class="">
            <a style="display:block;" ui-sref="tabsController.result"  ng-click="setFormation('green')">
                <img src="img/Zsd6KcmVTMG8a1xTj9cM_green.png" width="100" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </a>
        </div>
        <div class="spacer" style="width: 300px; height: 34px;"></div>
        <div class="">
            <a style="display:block;" ui-sref="tabsController.result" ng-click="setFormation('orange')">
                <img src="img/U4to9oFaSGSXQFhvlglT_orange.png" width="100" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </a>
        </div>
        <div class="spacer" style="width: 300px; height: 34px;"></div>
        <div class="">
            <a style="display:block;" ui-sref="tabsController.result" ng-click="setFormation('yellow')">
                <img src="img/MUQyIZgkTKKBNtFKEAry_yellow.png" width="100" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </a>
        </div>

    </ion-content>
</ion-view>
