<ion-view title="Formation" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
      <div class="container">

        <div class="row center">

          <div class="col"></div>

            <div class="col">
              <a style="display:block;" ui-sref="tabsController.result" ng-click="setFormation('red')">
                <img src="img/UAQrvKZ3RSiS4KWve4wf_red.png" width="100" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
              </a>
            </div>

            <div class="col">
              <a style="display:block;" ui-sref="tabsController.result" ng-click="setFormation('blue motion red')">
                <img src="img/bluemotionred.png" width="100" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
              </a>
            </div>

            <div class="col"></div>

        </div>

        <div class="spacer" style="width: 300px; height: 34px;"></div>

        <div class="row">

            <div class="col"></div>

            <div class="col">
                <a style="display:block;" ui-sref="tabsController.result" ng-click="setFormation('blue')">
                    <img src="img/frKn3IpVTqajCrHPaWlR_blue.png" width="100" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
                </a>
            </div>

            <div class="col">
                <a style="display:block;" ui-sref="tabsController.result" ng-click="setFormation('red motion blue')">
                    <img src="img/redmotionblue.png" width="100" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
                </a>
            </div>

            <div class="col"></div>

        </div>

        <div class="spacer" style="width: 300px; height: 34px;"></div>

        <div class="row">

            <div class="col"></div>

            <div class="col">
                <a style="display:block;" ui-sref="tabsController.result"  ng-click="setFormation('green')">
                    <img src="img/Zsd6KcmVTMG8a1xTj9cM_green.png" width="100" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
                </a>
            </div>

            <div class="col">
                <a style="display:block;" ui-sref="tabsController.result" ng-click="setFormation('green motion')">
                    <img src="img/greenmotion.png" width="100" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
                </a>
            </div>

            <div class="col"></div>

        </div>

        <div class="spacer" style="width: 300px; height: 34px;"></div>

        <div class="row">

            <div class="col"></div>

            <div class="col">
                <a style="display:block;" ui-sref="tabsController.result" ng-click="setFormation('orange motion green')">
                    <img src="img/orangemotiongreen.png" width="100" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
                </a>
            </div>


            <div class="col">
                <a style="display:block;" ui-sref="tabsController.result" ng-click="setFormation('yellow motion green')">
                    <img src="img/yellowmotiongreen.png" width="100" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
                </a>
            </div>

            <div class="col"></div>

        </div>

        <div class="spacer" style="width: 300px; height: 34px;"></div>

        <div class="row">

          <div class="col"></div>

          <div class="col">
              <a style="display:block;" ui-sref="tabsController.result" ng-click="setFormation('orange')">
                  <img src="img/U4to9oFaSGSXQFhvlglT_orange.png" width="100" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
              </a>
          </div>

          <div class="col">
              <a style="display:block;" ui-sref="tabsController.result" ng-click="setFormation('orange motion')">
                  <img src="img/orangemotion.png" width="100" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
              </a>
          </div>

          <div class="col">
              <a style="display:block;" ui-sref="tabsController.result" ng-click="setFormation('green motion orange')">
                  <img src="img/greenmotionorange.png" width="100" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
              </a>
          </div>

          <div class="col"></div>

        </div>

        <div class="spacer" style="width: 300px; height: 34px;"></div>

        <div class="row">

          <div class="col"></div>

          <div class="col">
              <a style="display:block;" ui-sref="tabsController.result" ng-click="setFormation('yellow')">
                  <img src="img/MUQyIZgkTKKBNtFKEAry_yellow.png" width="100" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
              </a>
          </div>

          <div class="col">
              <a style="display:block;" ui-sref="tabsController.result" ng-click="setFormation('yellow motion')">
                  <img src="img/yellowmotion.png" width="100" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
              </a>
          </div>

          <div class="col">
              <a style="display:block;" ui-sref="tabsController.result" ng-click="setFormation('green motion yellow')">
                  <img src="img/greenmotionyellow.png" width="100" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
              </a>
          </div>

          <div class="col"></div>

        </div>

      </div>

    </ion-content>
</ion-view>
